Repository git-saj/discord-video-streamer: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-lint, typescript-check

.pre-commit-config.yaml:

# Pre-commit configuration for Discord Video Stream Bot
repos:
  # Built-in hooks for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
        args: [--fix=lf]

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.log$|
            package-lock\.json$|
            pnpm-lock\.yaml$
          )$

  # Docker linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args:
          [
            --ignore,
            DL3008,
            --ignore,
            DL3009,
            --ignore,
            DL3015,
            --ignore,
            DL3016,
            --ignore,
            DL3018,
          ]

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--fix]
        files: \.(md|markdown)$

  # TypeScript/JavaScript linting and formatting with Biome
  - repo: local
    hooks:
      - id: biome-format
        name: Biome Format
        entry: npx biome format --write
        language: system
        files: \.(ts|js|json)$
        pass_filenames: true

      - id: biome-lint
        name: Biome Lint
        entry: npx biome lint --write
        language: system
        files: \.(ts|js)$
        pass_filenames: true

      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.ts$
        pass_filenames: false

  # Git commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(yaml|yml)$
        args: [--write]

# Global settings
default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg

default_stages: [pre-commit]

# Exclude patterns
exclude: |
  (?x)^(
    node_modules/.*|
    dist/.*|
    \.git/.*|
    \.next/.*|
    coverage/.*|
    \.nyc_output/.*|
    .*\.log$|
    .*\.lock$
  )$

docs: add comprehensive bot summary and final feature overview
  README.md
Due: none

feat: implement dynamic voice channel joining
  README.md
  config.example.json
  src/config.ts
  src/index.ts
  test-config.json
Due: biome-format, biome-lint, typescript-check

chore: update test configuration and validate dynamic channel setup
  .secrets.baseline
Due: none

feat: remove guildId and allowedUserIds for ultimate simplicity
  README.md
  config.example.json
  src/config.ts
  src/index.ts
  test-config.json
Due: biome-format, biome-lint, typescript-check

feat: fixed docker
  .gitignore
  Dockerfile
  README.md
  config.example.json
  docker-compose.yml
  package.json
  src/config.ts
  src/index.ts
  src/logger.ts
Due: biome-format, biome-lint, typescript-check

ci: fixed ci pipeline
  .github/workflows/ci.yml
  .github/workflows/docker-build-push.yml
Due: none

ci: fixed ci pipeline
  .dockerignore
  .gitignore
  pnpm-lock.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

added stream switching functionality
  src/index.ts
Due: biome-format, biome-lint, typescript-check

fixed stream switcher
  src/index.ts
Due: biome-format, biome-lint, typescript-check

linting
  src/index.ts
Due: biome-format, biome-lint, typescript-check

dockerfile optimisations
  .dockerignore
  Dockerfile
  config.example.json
  src/config.ts
  src/index.ts
Due: biome-format, biome-lint, typescript-check

added hw accel support;
  Dockerfile
  run-bot-nvenc.sh
  shell.nix
  src/config.ts
  src/index.ts
Due: biome-format, biome-lint, typescript-check

format
  .github/workflows/ci.yml
  .secrets.baseline
  pnpm-lock.yaml
  src/config.ts
  src/index.ts
Due: biome-format, biome-lint, typescript-check

fix: add shell pipefail option to Dockerfile
  Dockerfile
Due: none

test: verify pre-commit hooks are running
  README.md
Due: none

docs: clean up README test content and fix markdown linting
  README.md
Due: none

refactor: remove Husky and lint-staged, use pre-commit exclusively
  package.json
  pnpm-lock.yaml
Due: biome-format

ci: updated to only build amd images
  .github/workflows/docker-build-push.yml
Due: none

ci: updated to only build amd images
  Dockerfile
Due: none

fix: fixed dockerfile
  .github/workflows/docker-build-push.yml
  Dockerfile
Due: none

tets
  README.md
Due: none

fix typo
  README.md
Due: none

invalid message format
  test.md
Due: none

ci: fixed pipeline
  .github/workflows/docker-build-push.yml
Due: none

test
  shell.nix
  test-config.json
Due: biome-format

bad commit message
  test.md
Due: none

docs: updated pre-commit
  .pre-commit-config.yaml
  README.md
Due: none

feat: added monitor/recovery
  README.md
  config.example.json
  src/config.ts
  src/health/auto-recovery.ts
  src/health/health-monitor.ts
  src/health/health-server.ts
  src/health/index.ts
  src/health/stream-monitor.ts
  src/index.ts
Due: biome-format, biome-lint, typescript-check

fix: linting
  .pre-commit-config.yaml
  src/health/health-monitor.ts
Due: biome-format, biome-lint, typescript-check

fix: fixed audio delay
  src/index.ts
Due: biome-format, biome-lint, typescript-check

chore: organised files
  config.example.json
  src/config.ts
  src/discord-stream-bot.ts
  src/hardware.ts
  src/health.ts
  src/health/auto-recovery.ts
  src/health/health-monitor.ts
  src/health/health-server.ts
  src/health/index.ts
  src/health/stream-monitor.ts
  src/index.ts
  src/stream-analysis.ts
  src/stream-switcher.ts
  src/types.ts
Due: biome-format, biome-lint, typescript-check

fix: updated stream switch logic
  src/discord-stream-bot.ts
  src/stream-switcher.ts
Due: biome-format, biome-lint, typescript-check

fix: updated stream switch logic
  src/discord-stream-bot.ts
Due: biome-format, biome-lint, typescript-check

fix: simplified
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  biome.json
  config.example.json
  config/default.jsonc
  config/template.jsonc
  package.json
  pnpm-lock.yaml
  run-bot-nvenc.sh
  src/bot.ts
  src/config.ts
  src/discord-stream-bot.ts
  src/hardware.ts
  src/health.ts
  src/index.ts
  src/logger.ts
  src/modules/general/index.ts
  src/modules/index.ts
  src/modules/mediamtx/index.ts
  src/modules/stream/index.ts
  src/modules/stream/input/ffmpegIngest.ts
  src/modules/stream/input/utils.ts
  src/modules/stream/input/yt-dlp.ts
  src/stream-analysis.ts
  src/stream-switcher.ts
  src/types.ts
  src/utils/attachReactionButtons.ts
  tsconfig.json
Due: biome-format, biome-lint, typescript-check

feat: added health endpoint & updates
  .pre-commit-config.yaml
  config/default.jsonc
  config/template.jsonc
  package.json
  pnpm-lock.yaml
  src/bot.ts
  src/config.ts
  src/health.ts
  src/index.ts
  src/modules/mediamtx/index.ts
  src/modules/stream/index.ts
  src/modules/stream/input/ffmpegIngest.ts
  src/utils/attachReactionButtons.ts
Due: biome-format, biome-lint, typescript-check

feat: added better help/status/
  src/modules/general/index.ts
Due: biome-format, biome-lint, typescript-check

feat: added logger
  config/template.jsonc
  package.json
  pnpm-lock.yaml
  src/bot.ts
  src/config.ts
  src/health.ts
  src/index.ts
  src/modules/general/index.ts
  src/modules/stream/index.ts
  src/utils/logger.ts
Due: biome-format, biome-lint, typescript-check

fix: fixed linting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-format

chore: formatting
  .github/workflows/ci.yml
  config/template.jsonc
Due: none
