Repository git-saj/discord-video-streamer: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, biome-lint, typescript-check

.pre-commit-config.yaml:

# Pre-commit configuration for Discord Video Stream Bot
repos:
  # Built-in hooks for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: mixed-line-ending
        args: [--fix=lf]

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            .*\.lock$|
            .*\.log$|
            package-lock\.json$|
            pnpm-lock\.yaml$
          )$

  # Docker linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint-docker
        args:
          [
            --ignore,
            DL3008,
            --ignore,
            DL3009,
            --ignore,
            DL3015,
            --ignore,
            DL3016,
            --ignore,
            DL3018,
          ]

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--fix]
        files: \.(md|markdown)$

  # TypeScript/JavaScript linting and formatting with Biome
  - repo: local
    hooks:
      - id: biome-format
        name: Biome Format
        entry: npx biome format --write
        language: system
        files: \.(ts|js|json)$
        pass_filenames: true

      - id: biome-lint
        name: Biome Lint
        entry: npx biome lint --write
        language: system
        files: \.(ts|js)$
        pass_filenames: true

      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.ts$
        pass_filenames: false

  # Git commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(yaml|yml)$
        args: [--write]

# Global settings
default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg

default_stages: [pre-commit]

# Exclude patterns
exclude: |
  (?x)^(
    node_modules/.*|
    dist/.*|
    \.git/.*|
    \.next/.*|
    coverage/.*|
    \.nyc_output/.*|
    .*\.log$|
    .*\.lock$
  )$

fix: downgraded to cuda 12.9
  Dockerfile
Due: none

fix: fixed yt-dlp
  Dockerfile
  README.md
  scripts/setup.sh
  src/modules/stream/index.ts
  src/modules/stream/input/yt-dlp.ts
Due: biome-format, biome-lint, typescript-check

fix: added ffmpeg retyr flags
  src/modules/stream/index.ts
Due: biome-format, biome-lint, typescript-check

fix: Add error handling
  Dockerfile
  src/bot.ts
  src/index.ts
  src/modules/stream/index.ts
Due: biome-format, biome-lint, typescript-check

fix: updated height filtering
  src/modules/stream/index.ts
Due: biome-format, biome-lint, typescript-check

feat: updated yt-dlp
  Dockerfile
Due: none

feat: added restart button with customisable command
  README.md
  src/modules/general/index.ts
  src/modules/stream/index.ts
  src/modules/stream/input/yt-dlp.ts
Due: biome-format, biome-lint, typescript-check

reverted yt-dlp detection changes
  src/modules/stream/index.ts
Due: biome-format, biome-lint, typescript-check

pre-commit
  src/modules/stream/index.ts
Due: biome-format, biome-lint, typescript-check

fix: youtube audio
  src/modules/stream/input/yt-dlp.ts
Due: biome-format, biome-lint, typescript-check

fix: docker user create home dir
  Dockerfile
Due: none

fix: update yt-dlp cache dir to /tmp
  src/modules/stream/input/yt-dlp.ts
Due: biome-format, biome-lint, typescript-check

fix: remove manual yt-dlp cache
  Dockerfile
  src/modules/stream/input/yt-dlp.ts
Due: biome-format, biome-lint, typescript-check

chore: update discord-video-stream
  package.json
Due: biome-format

chore: pnpm update
  package.json
  pnpm-lock.yaml
Due: biome-format

chore: pnpm update
  .pre-commit-config.yaml
  pnpm-lock.yaml
Due: none

chore: update dependecies
  package.json
  pnpm-lock.yaml
Due: biome-format
